@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #B42121;
    margin-top: 3rem; top and bottom
}

#img {
    content: url(./logo.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 80px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    margin-left: 75px;
    margin-bottom: 10px;
}

#user_input { /* search bar */
    width: 10cm;
    height: 35px;
    float: right;
    margin-top: 3px;
    margin-right: 75px;
    margin-bottom: 5px;
}

#homeBtn {
    width: 100px;
    margin: 20px 20px;
    cursor: pointer;
}

#table_id {
    width: 90%;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red */
}

#caption {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    position: absolute;
    transform: translate(0, -60px);
    color: blue;
    /* border: 1px solid black */
}

#table_id th, td {
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#table_id th {
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    opacity: .5;
}

#table_id td {
    height: 35px;
}

#table_id .name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#table_id .price, .percentChange, .volume, .marketCap {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#table_id tr:nth-child(even) {
    background-color: #eee;
}
#table_id tr:nth-child(odd) {
    background-color: #fff;
}

#table_id tr:hover {
    background-color: #bbb;
}

#assetContainer .assetProfile {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 10px 50px;
    color: white
}

.name:hover {
    cursor:pointer
}

